
{{!-- Listamos los usuarios para poder eliminar y modificar su rol --}}

{{#each users}}
    <tr>
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
        <td>{{this.role}}</td>
        <td>
            <form action="/admin/users/{{this._id}}?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger">Eliminar</button>
            </form>
        </td>
        <td>
            <form action="/admin/users/{{this._id}}?_method=PUT" method="POST">
                <select name="role" id="role">
                    <option value="user">Usuario</option>
                    <option value="admin">Administrador</option>
                </select>
                <button type="submit" class="btn btn-primary">Cambiar rol</button>
            </form>
        </td>
    </tr>
{{/each}}

{{/if}}

{{!-- Si no hay usuarios, mostramos un mensaje --}}

{{else}}
    <h1>No hay usuarios</h1>
{{/if}}

{{!-- Botón para volver a la página anterior --}}
<a href="/admin" class="btn btn-primary">Volver</a>
